@media (max-width: 991.98px) {
    /* home page */
   .nav-item .dropdown{
        background-color: unset;
        border:0;
        position: unset;
        display: none;
        }
   .nav-item:hover .dropdown {
         display: block;
        }
   .dropdown .dropdown_list a{
         color:var(--Dgray-color);
         padding: 30px 0;
        }
   .header_content{
        padding-top: 250px;
        margin: auto;
    }
    .slid-L,.slid-R{
        width: 70px;
        height: 70px; 
        top: 7%;

    }
    .slid-L{  
        right:90%;
    }
    .slid-R{
        left: 90%;
    }
    .customerO{
        margin: 40px 0;
    }
    .about_our_team p{
        width: 92%; 
        font-size:18px;
    }
    .modal-content{
    margin-top: 200px;
    }

  /* about page */
  .team_member{
    padding-top:30px;
  }
  .have_question{
    width:100%;
  }
  .question1 h6,.question2 h6,.question3 h6,.question4 h6{
    font-size: 18px;
  }
  .answer1,.answer2,.answer3,.answer4{
    color:var(--Dgray-color);
    font-size: 17px;
  }
    /* services page */
  .service{
        width:80%;
        padding-top:20px;
    }
  .services p{
        font-size: 18px;;
    }
    /* blog */
   .one_blog{
        padding:30px;
        width:90%;  
     
    }

   .one_blog img{
        text-align: center;
        height:300px;
        
    }
   .blog_row{
        justify-content: center;
    }

    .card .date_time{
        font-size: 15px;
    }
    .card h5{
        font-size: 20px;
    }
    .card p{
        text-align: start;
        font-size: 15px;
    }
    .card a{
        font-size: 20px;
    }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

    .nav-item .dropdown{
        background-color: unset;
        border:0;
        position: unset;
        display: none;
        }
    .nav-item:hover .dropdown {
            display: block;
        }
    .dropdown .dropdown_list a{
            color:var(--Dgray-color);
            padding: 30px 0;
        }

    /* home page */
    .header_title{
        position: absolute;
        color: white;
        width:90%;
        opacity: 0; 
    }
    .header_title h1{
        font-size: 20px;  
    }
    .header_title p{
        font-size: 15px;
    }
    .header_content{
        padding-top: 250px;
        margin: auto;
    }
    .modal-content{
        margin-top: 150px;
    }
    .best_packages .package{
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }
    .modal-body img{
        height:250px;
        width:100%;
     }
     .customerO{
         margin: 30px 0;
     }
     .slid-L,.slid-R{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        width: 70px;
        height: 70px; 
        top: 4%;
        cursor: pointer;
        transition: 0.8s;
        opacity: 0;
    }
    .slid-L{  
        right:60%;
    }
    .slid-R{
        left: 60%;
    }
     /* about page */
     .team_member{
       padding-top:30px;
     }
     .have_question{
        width:100%;
    }
    .question1 h6,.question2 h6,.question3 h6,.question4 h6{
        font-size: 14px;
    }
    .answer1,.answer2,.answer3,.answer4{
        color:var(--Dgray-color);
        font-size: 13px;
    }
    .about_our_team p{
        width: 92%; 
    }
    /* services page */
   .service{
       width:80%;
    }
}

/*  Medium devices (tablets, less than 992px) */

