
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
html{
 --main-color:#c31616;
 --input-color: #4a515b ;
 --Dgray-color:#a4a4a4;
 --DGblue-color:#434a54;
 --line-color:#f1f1f1;
 --gray-color:#f9f9f9;
}
.bg-gray{
    background-color: #f9f9f9;
}
.bg-main{
    background-color: var(--main-color);
}
.btn{
    background-color: var(--main-color);
    text-transform: capitalize;
    color:white;
    border-radius: 0%;
}
.btn:hover{
    color:var(--input-color);
}
a{
   text-decoration: none;
}
ul{
    list-style: none;
}
h1,h3,h6,h5{
    text-transform: capitalize;
    line-height: 55px;
    letter-spacing: 0;
    margin-bottom: 0px;
    padding: 0 0 10px 0;
}
h1{
    color:var(--input-color);
    text-transform: capitalize;
    font-weight: 500;
    text-align:center;
    padding-top: 20px;   
}
h5{
    color:white;
}
 h6{
    color:var(--input-color);   
} 
p{
    text-transform: capitalize;
    text-align:center;
    font-size: 15px;
    color:var(--Dgray-color);
}
.line{
    position: relative;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}
.line:after{
    position: absolute;
    content: "";
    background-color:var(--line-color);
    width: 70px;
    height: 4px;
    border-radius: 25px;
    display: inline-block;
    top:0;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 13px 20px;
    background-color: var(--main-color);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* start header content */
 .header{
    position:relative;
    padding:30px 0;
    background-image: url('../../img/p-17.jpg');
    margin-top: 10px;
}
.to_home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.to_home h6{
    transition: 0.3s;
}
.to_home h6:hover{
    color:var(--main-color);
}
.to_home i{
    padding: 0px 10px;
    color: var(--main-color);
}
/* end header content */

/* start navbar */
.navbar{
   line-height: 60px;
   border-bottom: 1px solid var(--main-color);
}
.collapse{
    justify-content: center;
}
.navbar-nav{
    width:65%;
    text-transform: uppercase;
    justify-content: space-evenly;
}
.navbar-light .navbar-nav .nav-link{
    color:var(--input-color);
    font-size: 15px;
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:var(--main-color);
}
.navbar-light .navbar-nav .nav-link i{
    padding-left: 7px;
    transition: 0.5s;  
    transform: rotate(90deg);
}

/* start dropdown */
.nav-item{
    position: relative;
} 
.nav-item .dropdown{
    position: absolute;
    z-index: 9999999999;
    background-color: var(--main-color);
    opacity: 0; 
    transition: 0.8s;
    visibility: hidden; 
    width: 150px;
    height: 50px;
    margin-top:8px;
}
.nav-item:hover .dropdown {
    opacity: 0.8;
    visibility: visible;
}
.dropdown .dropdown_list a{
    color: white;
    padding: 30px 0;
}
/* end dropdown */
ul li{
    position: relative;
}
ul li a:after{
    position: absolute;
    content: "|";
    display: inline-block;
    color: #f1f1f1;
    padding-left: 5px;
}
/* end navbar */

/* start home page */
    /* Header style*/
.home_header{
    background-image: none;
}
.slid-L,.slid-R{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 70px;
    height: 70px; 
    top: 50%;
    cursor: pointer;
    transition: 0.8s;
    opacity: 0;
}
.slid-L{  
    right:95%;
}
.slid-R{
    left: 94.8%;
}
.slid-L:hover{
    background-color: white;
}
.slid-R:hover{
    background-color: white;
}
.mySlides{
    width: 100%;
    height: 550px;
}
header :hover .slid-L{
    opacity:0.9;
}
header :hover .slid-R{
    opacity:0.9;
}
.advanced_row{
   background-color: var(--DGblue-color);
   width: 90%;
}
.advaanced_content_item{
    margin:10px 0;
}  
.form-select{
    background-color: var(--input-color);
    border:none;
    color:var(--Dgray-color);
    border-radius: 0;
}
.header_title{
    position: absolute;
    color: white;
    width:60%;
    padding-top:50px;   
    opacity: 0; 
}
.header_title h1{
    color: white;
    text-align: start;
    padding:0;
    font-size: 30px;
}
.header_title p{
    color: white;
    text-align: start;
    padding:0;
    font-size: 25px;
}
.header_content{
    position: absolute;
    padding-top: 350px;
}
/* button up */
.scrollUp{
    position: absolute;
    bottom: 40px;
    right: 50px;
    cursor: pointer;
    z-index: 99999999;
    background-color: var(--main-color);
    color: white;
    padding: 8px;
    font-size: 15px;
    border-radius: 20%;
}

/* Promotions style */
.best_packages .card{
    width: 22rem;   
    display: inline-block;
    padding: 10px;
 }
.country{
    padding-left: 10px;
 }
.Img-cap_content h4{
     color:white;
     text-align:center;
 }
.Img-cap_content h5{
    color:white ;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.Img-cap_content .price{
    color:white;
    text-align:center;
    margin-bottom: 15px;
}
.Img-cap_content .details{
    color:white;
    text-align:center;
    text-transform: uppercase;
    border: white 1px solid;
    padding:5px 20px;
}
.Img-cap_content .details:hover{
    background-color: white;
    color:var(--DGblue-color);
}
.country h3{
    text-transform: capitalize;
    color:white;
    letter-spacing: 1.2px;
    padding-bottom: 0px;
    font-size: 25px;
}
.country h6{
    color:white;
    letter-spacing: 1.2px;
    padding-top: 0px;
}
.best_packages .overlay{
      transition: 0.8s; 
}
.best_packages .overlay:hover  {
   opacity: 0.7;
  }    
.best_packages .country{
    position: absolute;
    bottom: 0;
    opacity: 1;
    transition: 0.8s;
}

/* customer opinion style */
.customer_opinion h1{
    text-align: start;
    text-transform: capitalize;
    
}
.customer_opinion p{
    text-align: start;
    padding-top:50px;
}

.carousel-indicators{
   bottom: -50;
}
.carousel-inner .customer_opinion {
    background-color: white; 
   
}
.carousel-inner{
    background-color: white;
     box-shadow:-3px 5px 5px var(--Dgray-color);
}
.carousel-indicators [data-bs-target] {
    background-color:var(--main-color); 
}
.carousel-item .customer_opinion_first p{
  padding:50px 30px;
}
.customer_info{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.customer_info img{
    height:70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 20px;
    background-size: cover;
}
.customer_info h4{
    color:var(--DGblue-color);
    text-transform: capitalize;
}
/* gallery */
.traveller_phots .img_card{
    display: flex;
    justify-content: center;
}
.traveller_phots img{
    width:20rem;
    padding:20px 5px;
    justify-content: center;
    display: inline-block;
    height:300px;   
    background-color: white;
}
.travile_img{
    position: relative; 
 
}
.gallery .traveller_phots .overlay{
    transition: 0.8s; 
    cursor: pointer;
}
 .traveller_phots .img_card .overlay:hover  {
    opacity: 0.7;
}   
    /* gallery modal */
.modal-content{
    margin-top: 80px;
}
.modal-body{
    padding: 0;
}
.modal-body img{
   height:450px;
   width:100%;
  padding:0;
  display: flex;
  align-items: center;
  z-index: 999999999;
}
/* Destinations */
.oceania{
    position: absolute;
    padding: 13px 20px;
    top:0%;
    left: 50%;
    -ms-transform: translate(-50%, -0%); 
    transform: translate(-50%, -0%);  
}
.numbers{
    background-image: url('../img/parallax-3.jpg');
    width: 100%;
    height:300px;
    background-size: cover;
}
/* contact form */
 .form-control{
    background-color: var(--input-color);
    width: 100%;
    color: var(--Dgray-color);
    border-radius: 0;
    border: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color:var(--input-color);
}
/* end home page */

/*Start About Us Style */
.section_title{
   text-transform: capitalize;
   color:var(--Dgray-color);
   display: flex;
   justify-content: center;
   padding: 0 0 20px 0;
}
.section_title h2{
    color:var(--input-color);
}
.section_title .line{
   text-align: center;
   display: flex;
   justify-content: center;
}
.about_our_team{
    display: flex;
    justify-content: center;
    color:var(--Dgray-color);
}
.about_our_team p{
      width: 50%; 
      text-align: center; 
}
.team_member{
   display: flex;
   justify-content: center;
}

.tour_guide .card-img, .card-img-top {
    height:250px;
}
.tour_guide .card-img-top{
     width:13rem; 
}
.team_member .card{
    border: none;
}
.team_member_info{
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 5px 0;
}
.team_member_name h3{
    font-size: 18px;
    padding-bottom: 0px;
    text-transform: capitalize;
}
.team_member_name h6{
    font-size: 15px;
    padding-left: 0.5rem;
    padding-bottom: 0;
    color:var(--Dgray-color);
}
.tour_guide_social{
    display: flex;
    justify-content: center;
    font-size:18px;
    padding:5px 0;
}
.tour_guide_social a{
    padding: 0 9px;
    color: #fff;
    border:0.5px solid white;
    margin:0 3px;
}
.tour_guide_social a:hover i{
    color:var(--Dgray-color);
}
.have_question{
    width:50%;
}
.questions h3{
    color: var(--input-color);
}
.questions p{
    color: var(--Dgray-color);
}
.question1,.question2,.question3,.question4{
    display: flex;
    align-items: center;
}
.question1 h6,.question2 h6,.question3 h6,.question4 h6{
    font-weight: 400;
    padding-left:15px;
}
.answer1,.answer2,.answer3,.answer4{
    color:var(--Dgray-color);
    font-size: 15px;
    padding-left:45px;
    display: none;
}
.question_icon{
    border:1px solid var(--DGblue-color);
    padding:3px;
    background-color: var(--DGblue-color);
    color:var(--Dgray-color);
    cursor: pointer;
}
.answer1 p,.answer2 p,.answer3 p,.answer4 p{
text-align: start;
}
/*End About Us Style */

/* Start Packages Style */
.packages .your_destination_header{
    background-color: var(--main-color);
    padding:15px 0px;
}
.packages .packages_row h4{
    color: white;
    font-size: 17px;
    text-transform: capitalize;
    padding-left: 20px;
}
.packages .your_destination_content{
    border: 0.2px solid var(--Dgray-color);
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    justify-content: center;
}
      /* Start select */
.packages .your_destination_content select option{
   text-transform: capitalize;
}
.form-select-lg {
    text-transform: capitalize;
    margin: 10px 0px;
    padding: 0.3rem 0;
    width: 80%;
    color: var(--Dgray-color);
    padding-left: 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    background-color: var(--gray-color);
    border-radius: 0;
} 
    /* Start checkbox */
.packages .packages_row .typologies h4{
    color:var(--DGblue-color);
    padding:30px 20px 0;
}
.typologies_row .one_checkbox{
    padding: 5px 40px;
}
.typologies_row .one_checkbox label{
    color: var(--Dgray-color);
    text-transform: capitalize;
    font-size: 15px;
}
.packages .packages_row .typologies{
    padding-bottom:20px ;
    border-bottom: 1px solid var(--gray-color);
}
.change_page .btn-secondary{
    border: none;
}
.change_page .btn-secondary:hover{
    background-color: var(--Dgray-color);
}
/* End Packages Style */

/* Start Services Style */
.one_service{
    border:solid 0.2px var(--Dgray-color);
    box-shadow:-3px 5px 5px var(--Dgray-color);
    margin: 15px; 
}
.one_service h3{
    font-size:20px;
    color:var(--input-color);
}
.one_service i{
    font-size:35px;
    color: var(--main-color);
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
.choos_us_item{
    display: flex;
    align-items: center;
}
.choos_us_item h3{
    font-size:20px;
    color:var(--input-color);
    padding-bottom: 0;
}
.choos_us_detail{
    width:80%;
    padding-left: 10px;
}
.choos_us_detail p{
    text-align: start;
    font-size:12px;
}
.choos_us_icon i{   
    width:60px;
    height:60px;
    color:white;
    background-color: var(--main-color);
    font-size: 1.5rem; 
    border-radius: 50px;
    margin:0 15px;
    display:flex;
    align-items: center;
    justify-content: center;
}
/* End Services Style */

/*Start Blog Style*/
.one_blog{
   display: flex;
   justify-content: center;
   padding-top: 20px;
}
.card_body{
    padding: 15px 20px;
}
.card_body h5{
   color:var(--DGblue-color);
   font-size:16px;
   line-height: 30px;
}
.card_body p{
   font-size: 13px;
}
.card_body a{
   color:var(--main-color);
   text-transform: capitalize;
}
.date_time{
   font-size: 12px;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   color:var(--input-color)
}
/* End Blog Style */

/*Start Contact Style*/
.contact h3{
    letter-spacing: 1.2px;
    color:var(--input-color);
    text-transform: uppercase;
    font-weight: 400;  
}
.contact .line{
    justify-content: start;
}
.contact_items{
    border-bottom:1px solid var(--DGblue-color);
    padding:0px 20px  0;
}
.contact_item{
    display: flex;
    align-items: baseline;
    font-size: 20px;
} 
.contact_item i{
    color:var(--main-color);
    font-size: 25px;
}
.contact_item p{
    color:var(--Dgray-color);
    font-size: 15px;
    padding-left: 15px;
}
/* End Contact Style */

/* Start Footer Style */
   /* top footer */
.footer_top{
    background-color: var(--DGblue-color);
    padding: 50px 0px;
}
.footer_top_section h5{
    letter-spacing: 1.2px;
    padding: 0;
}
.footer_top_section h6{
    color:var(--Dgray-color); 
    text-transform: uppercase;
    font-size: 12px;
    padding: 0;
}
.footer_number{
    color:white;
    font-size: 20px;
    text-align: start;
}
.footer_top_icon{
    padding: 12px 0; 
}
.footer_top_icon a i{
    color:white;
    font-size: 23px;
    padding:0px 8px 0px;
    transition:0.4s;
} 
.footer_top_icon a:hover i{
    color:var(--main-color);
    transform: scale(1.2,1.2);
}
.footer_form{
    display: flex;
}
.footer_form .btn{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border-radius: 0px;
    padding: 8.5px 20px;
    text-align: center;
    font-size: 11px;
}
.footer_email_form{
    width:75%;
}
 .footer_email_form input{
    border-radius: 0px;  
    border:0px;
} 
    /* bottom footer */
.footer_bottom{
    background-color: white;
}
.footer_bottom_text{
    text-align: center;
}
.footer_bottom_text p{
    color:var(--Dgray-color);
    font-size: 15px;
    margin-bottom: 0;
    padding: 8px 0px;
} 
/* End Footer Style */